{% extends "user_layout.html" %}
{% block content %}
    <script>
        function calculateTotalPrice(tktprice) {
            const noOfTickets = document.getElementById("no_of_tickets").value;
            document.getElementById("total_price").value = tktprice * noOfTickets;
        }
    </script>
    <div class="center"><h3>Book Ticket</h3></div>
    <div class="center"><h4>Venue: {{tname}}, Movie: {{sname}}</h4></div>
    <div class="center"><h5>Ticket price: ₹{{tktprice}}</h5></div>
    <form action="/book_ticket/{{uid}}/{{sid}}/{{name}}" method="POST">
        <div class="input_form">
            <div class="mb-3">
                <label for="uid" class="form-label">User ID</label>
                <input type="text" class="form-control" name="uid" id="uid" value="{{uid}}" readonly>
            </div>
            <div class="mb-3">
                <label for="sid" class="form-label">Show ID</label>
                <input type="text" class="form-control" name="sid" id="sid" value="{{sid}}" readonly>
            </div>
            <div class="mb-3">
                <label for="available_seats" class="form-label">Available seats</label>
                <input type="text" class="form-control" name="available_seats" id="available_seats" value="{{available_seats}}" readonly>
            </div>
            {% if available_seats == 0 %}
                <div class="alert alert-danger">
                    <strong>No seats available!</strong> Please check another show.
                </div>
            {% else %}
                <div class="mb-3">
                    <label for="no_of_tickets" class="form-label">No. of tickets</label>
                    <input type="number" class="form-control" name="no_of_tickets" id="no_of_tickets" min="1" max="{{available_seats}}" value="1" onblur="calculateTotalPrice('{{tktprice}}')" required>
                </div>
                <div class="mb-3">
                    <label for="total_price" class="form-label">Total price (₹)</label>
                    <input type="text" class="form-control" name="total_price" id="total_price" value="{{tktprice}}" readonly>
                </div>
            {% endif %}
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="/user/{{uid}}/{{name}}" class="btn btn-secondary">Cancel</a>
            </div>
        </div>
    </form>
{% endblock %}